# Misc
*/.DS_Store
*.swp

# Logs
logs
*.log
package-lock.json
.cache/

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

## IDE **
.idea/
.editorconfig

### Build files ###
dist/
build/
